body{
	margin: 0; padding: 0; border: 0; outline: none;

}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0; 
	width: 100%;
	height: 100%; 
	background: #728eaa;
	background: -moz-linear-gradient(top, #25303C 0%, #728EAA 100%); /* firefox */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25303C), color-stop(100%,#728EAA)); /* webkit */
	font-family: sans-serif; 
}

 
div.wrapper {  
    height: 100%;
    left: 0;
    margin:0px auto; 
	right:0; 
    top: 0;
    width: 100%;
	float:left;
} 
h1 {
	font-size: 30px; color: #445668;
	text-shadow: 0px 1px 0px #f2f2f2
}
 
 .content { 
    left: 0;
    margin:0px auto; 
	right:0;
	 top: 0;
    padding: 10px 0; 
    width: 100%;
	float:left;
	margin-bottom:50px;
}

.textbox1 { 
	width: 65%; height: 170px;
	vertical-align: middle;
    outline: none; 
    padding: 2px 2px; 
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */ 
	font-family: sans-serif; font-size: 14px; color: #f2f2f2; text-shadow: 0px -1px 0px #334f71; 
	margin-left:15%;
margin-right:140px;
}
 
 div.container { 
	padding: 0;
	vertical-align: middle;
	display: table-cell;
	margin: 0;  
	float:left;
	width:100%;
} 


.btn {  
	top:40%;
	vertical-align: bottom;
	left: 50%;
	 margin: 0 auto; 
	width: 130px; height: 52px;  padding: 10px 15px; 
	-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25303C), color-stop(100%,#728EAA)); /* webkit */
	background-color: #3D6E97;
	cursor: pointer;
	margin-left:45.8%;
}

 .response {
	font-size: 30px; 
	color: #FFFFFF; 
	text-align: center;
	vertical-align: center;  
	text-shadow: 0px 1px 0px #f2f2f2
}
